{% extends 'testing.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <img src="../static/arnav.jpg" class="rounded-circle" width="140" height="140" alt="Placeholder">
            <h2 class="fw-normal">Arnav Sharma</h2>
            <p>Your new paragraph content goes here.</p>
        </div>
        <div class="col-lg-6 d-flex flex-column align-items-center justify-content-center">
            <img src="../static/mehul.jpg" class="rounded-circle" width="140" height="140" alt="Placeholder">
            <h2 class="fw-normal">Mehul Verma</h2>
            <p>Your new paragraph content goes here.</p>
        </div>
    </div>
</div>
{% endblock %}